.buff-box {
  /* background-color: bisque; */
  width: 170px;
  position: relative;
  box-shadow: 0px 4px 12px #cccccc;
  height: 307px;
  margin: 10px;
}
.buff-box-closeButton {
  position: absolute;
  top: -11px;
  left: 157px;
  z-index: 1;
}
.buff-box__title {
  font-size: 2rem;
}
.buff-box__button {
  width: 100%;
}
.buff-box__item {
  transition: all 0.3s ease-out;
  user-select: none;
}
.buff-box__item:hover {
  background-color: rgb(235, 245, 255);
  cursor: pointer;
}
